body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-fluid{
  margin: 0px;
  padding: 0px;
}

.navbar-static-top{
    margin-bottom: 0px;
}

.navbar-default {
  background-color: #016BB4 !important;
}

.navbar-default a {
  color: white !important;
}

.navbar-default .dropdown-menu a{
  color: #333 !important;
}

.navbar {
  z-index: 10;
  min-height: 70px;
}

.navbar-header p{
  display: none;
}

.nav-logo{
  position: absolute;
  top: 23px;
  right: 150px;
/*   right: 50px; */
  z-index: 50;
}

.nav-icon {
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 50;
}

#btn_disclaimer{
  width: 44px;
}

.container-fluid:nth-child(2){
/*   border: solid 5px green;  */
  padding: 0px;
}

.container-fluid .main-page{
  padding: 0px;
}

.left-control-panel{
  padding: 0px;
  display: inline-block;
  height: 100vh;
}

.right-control-panel{
  overflow-y: scroll;
  padding: 10px 20px;
  height: 95vh;
}

.right-control-panel .row{
  padding-left: 10px;
  padding-right: 10px;
}

#main_map {
/*   height: calc(65 px) !important; */
  height: 93vh !important;
  
}

.leaflet-control-attribution{
  display: none;
}

.rank20_selector .shiny-input-container {
    display: inline-block;
}

.leaflet-tooltip{
  box-shadow: none !important;
  border: none !important;
  background: transparent !important;
  -webkit-text-stroke: 0.6px #fff100;
 
}

.leaflet-tooltip h4{
  color: red !important;
  font-weight: 900;
}

.leaflet-tooltip-left:before, .leaflet-tooltip-right:before{
	display: none !important;
}

.leaflet-bottom .leaflet-control{
  bottom: 3vh !important;
}

.shiny-output-error{
  display: none;
}

#theme_selector button.btn.radiobtn.btn-default{
  font-size: 1.6rem !important;
}

#ui_desc h3{
  margin-top: 5px;
}

#ui_desc p{
  color: #888;
}

#shiny-modal li{
  margin-bottom: 10px;
  color: #777
}